<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="SystemLogFile" fileName="C:/retailapp/logs/system.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1.} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="SystemLogFile"/>
        </Root>
    </Loggers>
</Configuration>
